*.dll
*.tlog
*.sdf
*.lastbuildstate
*.idb
*.vcxproj
*.opensdf
*.sln
*.filters
*.exe
*.ilk
*.pdb
*.suo
*.obj
*.log
*.o
Release/*.png
ZPRSurvival/*.png
Debug/*.png
Debug/*.jpg
Release/*.jpg
ZPRSurvival/*.jpg
ConsoleApplication1/
*.user
*.orig
