*.dll
*.tlog
*.sdf
*.lastbuildstate
*.idb
*.vcxproj
*.opensdf
*.sln
*.filters
*.exe
*.ilk
*.pdb
*.suo
*.obj
*.log
Debug/Screen.png
Release/Screen.png
ZPRSurvival/Screen - Kopia (10).png
ZPRSurvival/Screen - Kopia (11).png
ZPRSurvival/Screen - Kopia (12).png
ZPRSurvival/Screen - Kopia (13).png
ZPRSurvival/Screen - Kopia (2).png
ZPRSurvival/Screen - Kopia (3).png
ZPRSurvival/Screen - Kopia (4).png
ZPRSurvival/Screen - Kopia (5).png
ZPRSurvival/Screen - Kopia (6).png
ZPRSurvival/Screen - Kopia (7).png
ZPRSurvival/Screen - Kopia (8).png
ZPRSurvival/Screen - Kopia (9).png
ZPRSurvival/Screen - Kopia.png
ZPRSurvival/Screen.png
ZPRSurvival/Screen1.png
